*{
    /*border: solid black 1px;*/        
'    font-family: 'Roboto', sans-serif;
'
    }
    body{
        background: fixed url(../images/bgbody2.jpg);
        background-size: cover;
        background-color: rgb(0, 0, 0);
        color:#2c2c2c;
        display: flex;
        flex-direction: column;
    }
    section, header{
        padding: 40px 0px 40px 0px;
    }
    h1, h2, h3, h4{
        font-family: 'Raleway', sans-serif;

    }
    .strong {
        font-weight: bold;
        font-size: 1.2em;
        color: #e9582b;
        font-family: 'Raleway', sans-serif;
    }
    ul{
        margin-bottom: 0px;
    }
    table{
        width: 100%;
    }
    .DIV_title{
        background-color: #e9582b;
        color: rgb(255, 255, 255);
        padding: 22px;
        border-radius: 5px;
        margin: 0px 0px 30px 0px;
        width: 30vw;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    .DIV_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bglight{
        background-color: rgb(255, 255, 255);
    }
    .bgdark{
        background-color: rgb(233, 233, 233);
    }       


    /*///// header /////*/
    header{
        display: flex;
        height: 100vh;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.5);
    }
    .header_intro{
        font-size: 2em;
        text-shadow: 0px 0px 3px black;
        margin-bottom: 90px;
        font-family: 'Raleway', sans-serif;
    }
    .header_dwwm{
        font-size: 6em;
        margin-bottom: 150px;
        text-shadow: 0px 0px 3px black;
        border-top: #e9582b 9px solid;
        border-bottom: #e9582b 9px solid;
        padding: 15px 0px 15px 0px;
    }
    .header_presentation{
        width: 73vw;
        text-align: center;
        font-size: 1.7em;;
        background-color: #1f1e1e7a;
    }

    /*///// about me /////*/
    #about_me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_me_title{
        display: flex;
        flex-direction: column;
    }
    .aboute_me_content{
        display: flex;
        width: 80vw;
        justify-content: center;
        align-content: center;
        border-radius: 5px;
    }
    .column_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin-left: 20px;
        padding: 20px 20px 20px 20px;
    }

    /*///// skill /////*/
    #skill{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill_sectionRigth{
        width: 50vw;
        display: flex;
        margin: 20px 0px 20px 0px;
        margin-left: 400px;
    }
    .skill_sectionLeft{
        width: 50vw;
        display: flex;
        margin-right: 400px;
    }
    .skill_detail{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px 20px 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    /*///// timeline /////*/
    #timeline{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .timeline{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 6px;
    }
    .type{
        display: flex;      
        flex: 4;
        flex-direction: column;
        height: 100px;  
        padding: 10px 10px 10px 10px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);    
    }
    .type_site{
        color: #5c5959;
    }
    .split1{
        background-color: rgb(233, 88, 43);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: white solid 4px;
        position: absolute;
        margin-right: 9.2vw;
    }
    .split2{
        background-color: rgb(233, 88, 43);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: white solid 4px;
        position: absolute;
        margin-right: -9.2vw;
    }
    .year{
        display: flex;
        justify-content: center;
        align-items: center ;
        height: 100px;        
        flex: 1;
        font: 1.5em bold;
        text-align: center;
        background-color: #333;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        margin: 0px 10px 0px 10px;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }
    .description{
        display: flex;
        height: 100px;        
        flex: 4;
        align-items: center;
        background-color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);        
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
    }

    @media (max-width:700px){

}